In [103]:
import pandas as pd

# Normal Data

In [104]:
normal_data = pd.read_csv('data_mentah/Combined Data.csv')

In [105]:
normal_data['status'].value_counts()

status
Normal                  16351
Depression              15404
Suicidal                10653
Anxiety                  3888
Bipolar                  2877
Stress                   2669
Personality disorder     1201
Name: count, dtype: int64

In [106]:
normal_label_data = normal_data[normal_data['status'] == 'Normal']

In [107]:
normal_label_data['status'].value_counts()

status
Normal    16351
Name: count, dtype: int64

In [108]:
def filter_by_word_count(df, column_name, min_word_count, output_filename):
    """
    Memfilter dataset berdasarkan jumlah kata di kolom tertentu dan mengekspor hasilnya ke CSV.

    :param df: DataFrame yang berisi data.
    :param column_name: Nama kolom yang ingin difilter (misal 'status').
    :param min_word_count: Jumlah kata minimum yang ingin dipertahankan.
    :param output_filename: Nama file output CSV untuk menyimpan hasil filter.
    """
    # Fungsi untuk menghitung jumlah kata di setiap baris dalam kolom status
    df['word_count'] = df[column_name].apply(lambda x: len(str(x).split()))

    # Memfilter dataset berdasarkan jumlah kata minimum
    filtered_df = df[df['word_count'] >= min_word_count]

    # Mengekspor hasil filter ke file CSV
    filtered_df.to_csv(output_filename, index=False)

    # Mengembalikan dataset yang sudah difilter
    return filtered_df

In [109]:
filter_by_word_count(normal_label_data, 'statement', 15, 'filtered_data_normal.csv')

C:\Users\dumbw\AppData\Local\Temp\ipykernel_14000\3910047409.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['word_count'] = df[column_name].apply(lambda x: len(str(x).split()))

,Unnamed: 0,statement,status,word_count
735,735,Leaves are also standby in front of the PC ......,Normal,18
741,741,"Bismillah for Eid 2021, you get a few question...",Normal,15
744,744,I want to spend a lot of time shopping for sna...,Normal,22
745,745,"I like to be grateful, don't you think, if you...",Normal,53
761,761,why is this person blg parcel hampers blah bla...,Normal,18
...,...,...,...,...
45385,45385,just read r s amazing blog so tired don t want...,Normal,18
45386,45386,i hate being awake going to school western civ...,Normal,15
45387,45387,ha just discovered the downside of going away ...,Normal,17
45392,45392,ughh can t find my red sox hat got ta wear thi...,Normal,16
45393,45393,slept wonderfully finally tried swatching for ...,Normal,22

In [110]:
normal_final_data = pd.read_csv('filtered_data_normal.csv')
normal_final_data.head(10)

,Unnamed: 0,statement,status,word_count
0,735,Leaves are also standby in front of the PC ......,Normal,18
1,741,"Bismillah for Eid 2021, you get a few question...",Normal,15
2,744,I want to spend a lot of time shopping for sna...,Normal,22
3,745,"I like to be grateful, don't you think, if you...",Normal,53
4,761,why is this person blg parcel hampers blah bla...,Normal,18
5,766,I want to take a day off from work and then ta...,Normal,17
6,770,How many bbl tickets are now? How come I want ...,Normal,26
7,774,"I bought a shirt for 200, but I've never worn ...",Normal,53
8,778,Chinese foreigners can enter at will because t...,Normal,50
9,782,09.35 WIB #Tol_JORR_E TMII - Cikunir - Cakung ...,Normal,20

In [111]:
normal_final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5490 entries, 0 to 5489
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5490 non-null   int64
 1   statement   5490 non-null   object
 2   status      5490 non-null   object
 3   word_count  5490 non-null   int64
dtypes: int64(2), object(2)
memory usage: 171.7+ KB

In [112]:
normal_final_data = normal_final_data.drop(columns=['Unnamed: 0', 'word_count'])
normal_final_data = normal_final_data.rename(columns={'status': 'label'})
normal_final_data.to_csv('normal.csv' , index=False)

# Anxiety Data

In [113]:
anxiety_data = pd.read_csv('anxiety.csv')

In [114]:
anxiety_data.shape

(5563, 2)

In [115]:
anxiety_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5563 entries, 0 to 5562
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   statement  5563 non-null   object
 1   label      5563 non-null   object
dtypes: object(2)
memory usage: 87.1+ KB

# Merge Normal & Anxiety

In [119]:
normal_only = pd.read_csv('normal.csv')
anxiety_only = pd.read_csv('anxiety.csv')

print("Normal Data Count : ", normal_only.shape)
print("Anxiety Data Count : ", anxiety_data.shape)

Normal Data Count :  (5490, 2)
Anxiety Data Count :  (5563, 2)

In [120]:
merged_data = pd.concat([normal_only, anxiety_only], ignore_index=True)
merged_data.to_csv('merged_data.csv')